

.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
}

    .dark-mode .navbar {
        background-color: #1f1f1f !important;
    }

    .dark-mode .card {
        background-color: #1f1f1f;
        color: #ffffff;
        border-color: #ffffff;
    }

    .dark-mode .card-footer {
        background-color: #2a2a2a;
    }

    .dark-mode footer {
        background-color: #1f1f1f;
    }

    .dark-mode .navbar {
        background-color: #1f1f1f !important;
    }

        .dark-mode .navbar .navbar-brand,
        .dark-mode .navbar .nav-link {
            color: #ffffff !important;
        }



@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}

body {
    background: linear-gradient(to top, #8b0000, #ff4d4d, #ffffff);
    color: black;
    font-family: 'Momo Trust Display', sans-serif;
    padding: 20px;
    background-color: #f8f9fa;
}




.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: darkred;
    color: white;
    border-color: white !important;
    transition: border-color 1s ease;
    transition: transform 0.3s ease;
}

.card iframe {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



a {
    color: inherit;
    text-decoration: none; 
}

    a:hover {
        color: white; 
        text-decoration: underline; 
        
        transition: 0.3s;
    }


.btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

header, footer {
    transition: background 0.3s, color 0.3s;
}

.carousel-item img {
    object-fit: cover;
    height: 60vh;
    min-height: 400px;
}

/* Ajustes para pantallas medianas */
@media (max-width: 992px) {
    .carousel-item img {
        height: 50vh;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-item img {
        height: 40vh;
        min-height: 300px;
    }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 576px) {
    .carousel-item img {
        height: 30vh;
        min-height: 250px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

#contactoLogos img {
    max-width: 330px;
    height: 200px;
}
#contactoLogos img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}




