


@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}

body {
    font-family: 'Momo Trust Display', sans-serif;
    padding: 20px;
    
}

  


h1, h2, h3, h4, h5, h6, p, li, a {
    color: inherit;
    
}



.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: darkred;
    color: white;
    border-color: white !important;
    transition: border-color 1s ease;
    transition: transform 0.3s ease;
}

.card iframe {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



a {
    color: inherit;
    text-decoration: none; 
}

    a:hover {
        color: white; 
        text-decoration: underline; 
        
        transition: 0.3s;
    }


.btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

header, footer {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    
}

.carousel-item img {
    object-fit: cover;
    height: 60vh;
    min-height: 400px;
}

/* pantallas medianas */
@media (max-width: 992px) {
    .carousel-item img {
        height: 50vh;
    }
}

/* pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-item img {
        height: 40vh;
        min-height: 300px;
    }
}

/* pantallas muy pequeñas */
@media (max-width: 576px) {
    .carousel-item img {
        height: 30vh;
        min-height: 250px;
    }
}



#contactoLogos img {
    max-width: 330px;
    height: 200px;
}
#contactoLogos img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}




